.styleContentWrapper {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  display: flex;
  box-shadow: 0px 0px 13px #00000052;
  clip-path: inset(0px -15px 0px -15px);
}
.styleMainContent {
  width: 100%;
}

.contentDNone {
  display: none;
}

.styleHeroDiv {
  background-image: url("../assets/img/margherita.jpg");
  height: 200px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.anbieterLogoDiv {
  background-image: url("../assets/img/logoPizzeria.png");
  background-position: center;
  background-size: 150px;
  border: 2px solid black;
  border-radius: 50px;
  box-shadow: 1px 1px 5px 1px black;
  height: 100px;
  width: 100px;
  z-index: 1;
  position: absolute;
  bottom: -50px;
  left: 44%;
}

@media (max-width: 660px) {
  .anbieterLogoDiv {
    left: 70%;
  }
}

.heroDescription {
  padding: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heroDescription span {
  color: #ff8000;
  font-size: 14px;
}

.styleFoodTypeSelector {
  background-image: linear-gradient(135deg, #f7f6f1, #f7f6f1, #cfcfcf );
  box-shadow: 0px 0px 13px #00000052;
  clip-path: inset(-15px 0px -15px 0px);
  font-size: large;
  font-weight: bold;
  color: #6f6f6e;
  padding: 1%;
  display: flex;
  align-items: center;
  gap: 2%;
}

.styleFoodTypeSelector img {
  height: 18px;
}

.styleFoodTypeSelector span:hover {
  cursor: pointer;
  color: #ff8000;
  scale: 1.1;
  transition: 0.7s;
}

.styleFoodContent {
  margin: 1%;
}

.food {
  box-shadow: 0px 0px 13px #00000052;
  border: 1px #cfcece solid;
  padding: 1%;
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.food button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px;
  border: 1px #cfcece solid;
  color: #ff8000;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.food button:hover {
  cursor: pointer;
  scale: 1.1;
  border: 2px #ff8000 solid;
}

.foodTooltipWrapper {
  position: relative;
  display: inline-block;
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.723), #ff7700, #ff8000);
  width: 70px;
  
  font-size: 15px;
  text-align: center;
  color: white;
  box-shadow: 1px 1px 5px 1px black;
}

.foodTooltipWrapper:hover {
  scale: 1.1;
  transition: 0.2s ease-in;
}

.foodTooltip {
  
  display: inline-block;
  
  cursor: pointer;
  
}



.foodTooltipText {
  visibility: hidden;
  width: 250px;
  background-image: linear-gradient(135deg, #ff8000, #ff7700, rgba(0, 0, 0, 0.723));
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 5px 1px black;
  
  
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 130%;
  
}

.foodTooltip:hover .foodTooltipText {
  visibility: visible;
  cursor: pointer;
  
  
}

.foodTooltip .foodTooltipText::after {
  content: " ";
  position: absolute;
  top: 15%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: #ff8000 #ff8000 transparent transparent ;
}

